/* Corona virus site styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

html {
  width: 100%;
  height: 100%vh;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    -225deg,
    #b7f8db 0%,
    rgb(117, 190, 212) 100%
  );
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Data Display */

.datadisp {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboards {
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to top, #ebedf1 0%, #eef1f5 100%);
  box-shadow: 2px 2px 2px 2px #32333326;
  border-bottom: 5px solid skyblue;
  font-size: 28px;
}

.dashboards:hover {
  background-image: linear-gradient(to top, #e1e6eb 0%, #e6eaf3 100%);
  box-shadow: 0;
}

.dashboards:hover h3 {
  color: #53e4da;
  border-bottom: 3px solid #53e4da;
  border-top: 3px solid #53e4da;
}

.dashboards:hover p {
  color: #4fff67;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid #4fff67;
}

.dashboards h3 {
  color: #68c8c2;
  border-bottom: 3px solid #68c8c2;
  border-top: 3px solid #68c8c2;
  padding: 4px;
}

.dashboards p {
  color: #88f196;
  font-weight: 600;
}

/* Chart.Js */

#chartDiv {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 1600px;
  height: 400px;
  padding: 30px 0;
}

#Chart {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 2px 2px 2px 2px #32333326;
  border-bottom: 5px solid skyblue;
}

#author {
  position: relative;
  color: rgb(245, 245, 245);
  font-style: italic;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 0.5cm;
}

/* Header */

header {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  color: rgb(83, 95, 102);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.137);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header #country {
  width: 300px;
  font-size: 24px;
}

header #titleDiv {
  flex-basis: 5%;
  flex-grow: 1;
  max-height: 50px;
  overflow-y: scroll;
  /* overflow-x: scroll; */
}

header #titleDiv::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

header #titleDiv::-webkit-scrollbar-track {

}

header #titleDiv::-webkit-scrollbar-thumb {
  background: #68c8c2;
}

header h1 {
  color: #68c8c2;
  margin: 0 0 0 20px;
}

header h1 span {
  color: #ffb404;
}

header #time {
  margin: 0 20px 0 0;
  font-weight: 400;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media (max-width: 1200px) {
  header #time {
    display: none;
  }

  header h1 {
    overflow: hidden;
  }

  header #country {
    justify-content: center;
  }

  .dashboards {
    flex-basis: 350px;
    height: 180px;
    margin: 0 10px;
  }

  .dashboards p {
    font-size: 24px;
  }

  .dashboards h3 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  header {
    justify-content: space-between;
  }

  header h1 {
    overflow: hidden;
    flex-grow: 1;
  }

  
  header select{
    max-width: 100px;
    flex-grow: 0;
  }

 .dashboards {
    flex-basis: 250px;
    height: 130px;
    margin: 0 5px;
  }

  .dashboards p {
    font-size: 18px;
  }

  .dashboards h3 {
    font-size: 12px;
  }
  
  #chartDiv {
    display: none;
  }

  footer {
    font-size: 0.5em;
    width: 100%;
    height: 60px;
  }
}

/* Footer */

footer {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.137);
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer p {
  margin-left: 20px;
  color: #68c8c2;
  font-weight: bold;
}

#APIRef {
  color: #06b8ff;
}

#APIRef:hover {
  color: rgb(0, 217, 255);
}


/* Select */

select {
  border: 2px solid #68c8c2;
  color: #68c8c2;
  font-weight: 600;
}
